body{
    background-image: url("/images/fondos/compararFondo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que la imagen quede fija mientras se hace scroll */
    height: 100vh; 
      margin-top: 9rem;
      
}

.container{
    
    background-color: aliceblue;
    border-radius: 10px;
    
}

.table{
    margin-top: 1rem;
    margin-bottom: 4rem;
    
}
