body {
    background-image: url("/images/fondos/compararFondo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 9rem;
}

.container {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.table-container {
    overflow-y: auto;
    max-height: 400px;
}
table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4rem;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {
    background-color: #e6f7e6;
    cursor: pointer;
}

.filter-input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}
