body {
    background-image: url("/images/fondos/compararFondo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 9rem;
}

.container {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.table-container {
    overflow-y: auto;
    max-height: 400px;
}
table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4rem;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {
    background-color: #e6f7e6;
    cursor: pointer;
}

.filter-input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Estilos generales para el formulario de búsqueda */
form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla de resultados */
.table-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007BFF;
    color: white;
}

table td {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    background-color: #f9f9f9;
}

ul li h3 {
    margin: 0;
    font-size: 18px;
}

ul li p {
    margin: 4px 0;
}
